# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore development dependencies
# If you use Yarn
.yarn/
# If you use npm
npm-debug.log
package-lock.json

# Ignore environment-specific files
.env

# Ignore any local configuration files
config/*.js